
body {
    font-family: 'Open Sans', 'Helvetica neue', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

/*navbar style*/
.navbar-default {
    margin:0;
    padding:0;
    background-color: #333333;
    height: 60px;
    border-color: #6A4E7D;
    border-width: 0 0 3px 0;
}
.navbar-default .navbar-header a {
    color: whitesmoke;
    padding-left: 50px;
    padding-top: 20px;
    font-size: 20px;
}
.navbar-default #bs-example-navbar-collapse-1 .navbar-right {
    padding-right: 50px;
    padding-top: 5px;
}
.navbar-default #bs-example-navbar-collapse-1 .navbar-right a:hover {
    color: #F286BD;
}
.navbar-default #bs-example-navbar-collapse-1 .navbar-right a:visited {
    color: #B46990;
}
.navbar-default #bs-example-navbar-collapse-1 .navbar-right a:active {
    color: #F286BD;
}

/*jumbotron general style*/
.jumbotron {
    text-align: center;
    text-decoration-style: dashed;
    border: solid black;
    border-width: 0 2px 4px 2px;
    margin: 0;
    position: static;
}
/*background images and jumbotron title*/
#index-jumbotron {
    background-image: url(../images/WebsiteMockups_02.jpg);
    background-size: 100%;
    height: 100vh;
}
#infer-jumbotron {
    background-image: url(../images/WebsiteMockups_02.jpg);
    background-size: 100%;
    height: 100vh;
}
#index-jumbotron h1 {
    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
}
#infer-jumbotron h1 {
    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
}
/*startDemo*/
#blue-box {
    position: relative;
    margin: 0 auto;
    width: 500px;
    height: 250px;
    background-color: #d2efff;
    opacity: 0.8;   
    box-shadow: 5px 5px 5px 5px #a5a2a2;
}
#start-demo-button {
    position: relative;
    margin: 0 auto;
    top: 40%;
    height:45px;
    width: 320px;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid #0077ed;
}
/*steps*/
.steps-left {
    display: inline-block;
    background-color: #ffffff;
    width: 125px;
    height: 62px;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    border: 3px solid black;
}
.steps-middle {
    display: inline-block;
    background-color: #ffffff;
    width: 125px;
    height: 62px;
    border: 3px solid black;
}
.steps-right {
    display: inline-block;
    background-color: #ffffff;
    width: 125px;
    height: 62px;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    border: 3px solid black;
}
.steps-text-div {
    margin-bottom: 30px;
}
.steps-text {
    display: inline-block;
    width: 125px;
    height: 31px;
    font-weight: bold;
}
/*jumbotron form*/
.jumbotron form {
    text-align: center;
    width:450px;
    margin:0 auto;
    padding:5px;
    background: rgb(255,255,255);
    background: rgba(255,255,255,0.8);
    border:solid black;
    border-width: 3px;
    position: relative;
}
.instructions {
    color: #0077ed;
}
.instructions a {
    color: #0077ed;
    text-decoration: underline;
}
.instructions a:checked {
    color: #0077ed;
}
.jumbotron form .form-group #uploadedSuccessfully {
    font-size: 15px;
}
.jumbotron form .input-group, .jumbotron .pseudo-form .input-group {
    margin: 0 auto 10px auto;
    font-size: 15px;
}
.jumbotron form .input-group #load {
    position: relative;
    margin: 0 auto;
    width: 130px;
    background-color: #68a4f0;
}
/*Container Start Training*/
#types-container {
    font-size: 15px;
    text-align: center;
    width:390px;
    margin:0 auto;
    padding:10px;
    background: rgb(255,255,255);
    background: rgba(255,255,255,0.8);
    border: 3px solid black;
    position: relative;
}
#types-container .input-group {
    position: relative;
    margin: 5px auto;
}
#types-container #btn_train {
    position: relative;
    margin: 5px auto;
    background-color: #68a4f0;
}
#types-container table {
    position: relative;
    margin: 20px auto;
    width: 80%;
    border-collapse: collapse;
    border: 1px solid black;
    
}
#types-container table th {
    height: 50px;
}
#types-container table th, #types-container table td {
    text-align: left;
    padding: 2px;
    border: 1px solid black;
}
#types-container table tr:hover {
    background-color: #f5f5f5;
}
/*graph container*/
#graph-container {
    border: 2px solid black;
    position: static;
    background-image: url(../images/WebsiteMockups_02.jpg);
    background-size: 100%;
    height: 100vh;
    width: 100vw;
}
#all-steps-div-two {
    margin: 50px auto 30px auto;
}
#graphs {
    border: 2px solid black;
    height: 400px;
    width: 500px;
    position: relative;
    margin: 50px auto 0 auto;
    background-color: #ffffff;
    opacity: 0.8;
}
.c3-lines {
    stroke-width: 3px;
}
.c3-axis {
    width: 3px;
}
.c3-axis-x-label {
    font-size: 12px;
}
.c3-axis-y-label {
    font-size: 12px;
}
/*jumbotron pseudo-form / infer.html*/
.jumbotron .pseudo-form {
    align-content: center;
    text-align: center;
    max-width:400px;
    margin:0 auto;
    padding:5px;
    background-color:#fff;
    border:solid black;
    position: relative;
}
.jumbotron #container-retriever {
    border-width: 3px;
    background: rgb(255,255,255);
    background: rgba(255,255,255,0.8);
    position: relative;
    margin: 0 auto;
}
.jumbotron .pseudo-form .input-group #btn_infer_types {
    background-color: #68a4f0;
    height: 45px;
    position: relative;
    margin: 0 auto;
}
.jumbotron #container-predictions {
    border-width: 3px;
    background: rgb(255,255,255);
    background: rgba(255,255,255,0.8);
    position: relative;
    margin: 0 auto;
}
.jumbotron #container-predictions #btn_infer {
    background-color: #68a4f0;
    margin-bottom: 0 auto 20px auto;
    height: 45px;
}
.jumbotron .pseudo-form table {
    position: relative;
    margin: 15px auto;
}
.jumbotron .pseudo-form table th, .jumbotron .pseudo-form table td {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}
.jumbotron .pseudo-form table th {
    background-color: #FFF8F7;
}
.jumbotron .pseudo-form #results {
    margin: auto;
    width: 79%;
}

/*footer*/
.footer {
    height: 60px;
    background-color: #333333;
    border-color: #6A4E7D;
    border-width: 3px 0 3px 0;
}


/*obsolete
#f1_upload_process{
   z-index:100;
   visibility:hidden;
   text-align:center;
   width:400px;
   margin:0 auto;
   padding:0 auto;
   background-color:#fff;
   border:1px solid #ccc;
}
#result {
    text-align:center;
    margin:0 auto;
    padding:0 auto;
}
*/

