
body {
    font-family: 'Open Sans', 'Helvetica neue', sans-serif;
    margin: 0;
    padding: 0;
}

.navbar-default {
    margin:0;
    padding:0;
    background-color: #16212f;
    height: 60px;
    border-color: #6A4E7D;
    border-width: 0 0 3px 0;
}

.navbar-default .navbar-header a {
    color: whitesmoke;
    padding-left: 50px;
    padding-top: 20px;
    font-size: 20px;
}
.navbar-default #bs-example-navbar-collapse-1 .navbar-right {
    padding-right: 50px;
    padding-top: 5px;
}
.navbar-default #bs-example-navbar-collapse-1 .navbar-right a:hover {
    color: #F286BD;
}
.navbar-default #bs-example-navbar-collapse-1 .navbar-right a:visited {
    color: #B46990;
}
.navbar-default #bs-example-navbar-collapse-1 .navbar-right a:active {
    color: #F286BD;
}

.jumbotron {
    text-align: center;
    text-decoration-style: dashed;
    background-image: url(../images/uk-population-density-map5.png);
    border: solid black;
    border-width: 0 2px 4px 2px;
    height: 100vh;
    margin: 0;
}

.jumbotron .container h1 {
    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
    padding-top: 50px;
}
.jumbotron form {
    text-align:right;
    width:390px;
    margin:0 auto;
    padding:5px;
    background-color:#fff;
    border:3px solid black;
}
.jumbotron form .form-group #uploadedSuccessfully {
    text-align: center;
}
.jumbotron form .input-group {
    font-size: 15px;
}
.jumbotron form .input-group #load {
    margin-left: 35px;
    background-color: #814F7C;
}
.jumbotron form .input-group #btn_train {
    margin-left: 30px;
    background-color: #814F7C;
}

#graphs {
    margin: 0;
    background-image: url(../images/uk-population-density-map11.png);
    align-content: center;
    border: solid black;
    border-width: 0 4px 0 4px;
}
.c3-lines {
    stroke-width: 3px;
}
.c3-axis {
    width: 3px;
}
.c3-axis-x-label {
    font-size: 12px;
}
.c3-axis-y-label {
    font-size: 12px;
}

.footer {
    height: 60px;
    background-color: #16212f;
    border-color: #6A4E7D;
    border-width: 3px 0 3px 0;
}

#f1_upload_process{
   z-index:100;
   visibility:hidden;
   text-align:center;
   width:400px;
   margin:0 auto;
   padding:0 auto;
   background-color:#fff;
   border:1px solid #ccc;
}

#result {
    text-align:center;
    margin:0 auto;
    padding:0 auto;
}

