
body {
    font-family: 'Open Sans', 'Helvetica neue', sans-serif;
    margin: 0;
    padding: 0;
}

.navbar-default {
    margin:0;
    padding:0;
    background-color: #16212f;
    border: None;
    height: 60px;
}
.navbar-default .navbar-header a {
    color: whitesmoke;
    padding-left: 50px;
    padding-top: 20px;
}
.navbar-default #bs-example-navbar-collapse-1 .navbar-right {
    padding-right: 50px;
    padding-top: 5px;
}

.jumbotron {
    text-align: center;
    text-decoration-style: dashed;
    background-image: url(../images/uk-population-density-map5.png);
    border: 5px solid black;
    height: 100vh;
}
.jumbotron h1 {
    padding-top: 50px;
}
.jumbotron form{
    text-align:right;
    width:390px;
    margin:0 auto;
    padding:5px;
    background-color:#fff;
    border:3px solid black;
}
.jumbotron .container h1 {
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
.jumbotron form .input-group input {
    font-size: 15px;
}

#f1_upload_process{
   z-index:100;
   visibility:hidden;
   text-align:center;
   width:400px;
   margin:0 auto;
   padding:0 auto;
   background-color:#fff;
   border:1px solid #ccc;
}

#result {
    text-align:center;
    margin:0 auto;
    padding:0 auto;
}

